---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import '../styles/global.css'
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import BaseLayout from "../layouts/BaseLayout.astro";


const pageTitle = "Home page"
---


<BaseLayout pageTitle = {pageTitle}>
	<h2 class = "text-3xl font-bold text-green-700">My Awesome blog Subtitle</h2>
</BaseLayout>