---
---
<div class="font-bold text-3xl flex space-x-10 shadow-2xl w-full justify-center py-3 border border-gray-600/35 rounded-xl">
    <a href="/" class="hover:bg-green-800/25 px-4 py-2 rounded-lg">Home</a>
    <a href="/about/" class="hover:bg-green-800/25 px-4 py-2 rounded-lg">About</a>
    <a href="/blog/" class="hover:bg-green-800/25 px-4 py-2 rounded-lg">Blog</a>
    <a href="/tags" class="hover:bg-green-800/25 px-4 py-2 rounded-lg">Tags</a>
</div>